<%- include("../adminLayouts/header.ejs") %>

    <%- include("../adminLayouts/sidenavbar.ejs") %>
        <main class="main-wrap">
            
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Orders</h2>

                    </div>
                   
                </div>
                



                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #306450; color: white;">
                                <th>SL.NO</th>
                                <th>NAME</th>
                                <th>ORDERID</th>
                                <th>TOTAL</th>
                                <th>DATE</th>
                                
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% if(ordersData.length > 0){ %>
                                <% ordersData.forEach((order, index)=> { %>


                                    <tr style="color: black;">

                                        <td>
                                            <%= index +1 %>
                                        </td> 
                                        
                                            <% if(order.address[0]){ %>
                                               <td>
                                              
                                              
                                                    <%= order.address[0].name %>
                                                
                                               </td>

                                               <td>
                                                <%= order.orderId %>
                                               </td>

                                               

                                            <% } %>
                                        
                                            <td>
                                                ₹ <%= order.totalAmount %>
                                            </td>
                                        

                                        <td>
                                            <%= order.currendDate.toLocaleDateString('en-US', { day: 'numeric' , month: 'short' ,
                                            year: 'numeric' }) %>
                                        </td>

                                        <td>
                                            <a href="/admin/orderDetails?id=<%= order.orderId %>"><button class="btn  p-1" style="border: none; background-color: green ; color: white;">Deatail</button></a>
                                        </td>




                                    </tr>





                                    <% }); %>

                                        <% } %>


                        </tbody>

                    </table>


                </div>







                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js" type="text/javascript"></script>




        <%- include("../adminLayouts/footer.ejs") %>